/**/bin
/**/obj
/**/x64
/**/.vs
/**/*.suo
/**/.vs
/**/*.zip
/**/*.cso
/**/*.dll
TsneDx/SP500_pc.csv
/packages

/Release/VisuMapCLR.pdb
/Release/VisuMapCLR.dll.metagen
/HeatmapAtlas/MapFolding.js.bk
/WaveTransforms/VisuMap.exe
/WaveTransforms/VisuMap.exe.config
/DataLink/__pycache__/DataLinkCmd.cpython-36.pyc
/DataLink/__pycache__/DataLinkCmd.cpython-37.pyc
/DataLink/__pycache__/DataLinkCmd.cpython-39.pyc
/DataLink/__pycache__/DataLinkCmd.cpython-312.pyc
/SeqModeling/packages/MathNet.Numerics.5.0.0/MathNet.Numerics.5.0.0.nupkg
/SeqModeling/packages/MathNet.Numerics.5.0.0/lib/netstandard2.0/MathNet.Numerics.xml
/SeqModeling/packages/MathNet.Numerics.5.0.0/lib/net6.0/MathNet.Numerics.xml
/SeqModeling/packages/MathNet.Numerics.5.0.0/lib/net5.0/MathNet.Numerics.xml
/SeqModeling/packages/MathNet.Numerics.5.0.0/lib/net48/MathNet.Numerics.xml
/SeqModeling/packages/MathNet.Numerics.5.0.0/lib/net461/MathNet.Numerics.xml
/SeqModeling/packages/MathNet.Numerics.5.0.0/icon.png
/SeqModeling/packages/MathNet.Numerics.5.0.0/.signature.p7s
